@model CRMWeb.Models.ViewModel.TaskVM
@{
    var title = "Create Task";
}
<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Task.Id != 0)
        {
            <input type="hidden" asp-for="Task.Id">
            title = "Edit Task";
        }

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Task.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Task.Name" class="form-control" />
                    <span asp-validation-for="Task.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Task.Duration"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Task.Duration" class="form-control" />
                    <span asp-validation-for="Task.Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
            <div class="col-4">
                <label asp-for="Task.Description"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Task.Description" class="form-control"></textarea>
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label>Department</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Task.DepartmentId,
               Model.DepartmentList, "-Please select a Department-", new { @class = "form-control" })
                <span asp-validation-for="Task.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Position</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.Task.PositionId,
               Model.PositionList, "-Please select a Position-", new { @class = "form-control" })
                <span asp-validation-for="Task.PositionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Task.Id!=0?"Update":"Create")
                </button>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
 </form>


@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}