@model CRMWeb.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<form method="post">
    <input asp-for="UserName" type="text" placeholder="Username..." />
    <span asp-validation-for="UserName" class="text-danger"></span>
    <input asp-for="Password" type="password" placeholder="Password..." />
    <span asp-validation-for="Password" class="text-danger"></span>
    <button type="submit" class="btn btn-primary" value="Submit">Login</button>
</form>

